# Ignore the project executable
minishell

# Ignore testing files
/testing/

# Ignore libft library
/libft/

# Ignore text files
*.txt
*.heredoc_*

# Ignore object files
/object/
*.o

# Ignore IDE configuration folders
.vscode/
.idea

# Ignore temporary files and cache
*.swp
*.swo
*.tmp
*.log
.DS_Store

# Sophie's test / unfinished files
y
z
